# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
apps/orbitalone-frontend/public/textures/backups
apps/orbitalone-frontend/node_modules
apps/orbitalone-frontend/dist
apps/orbitalone-frontend/src/tests
apps/orbitalone-frontend/.DS_Store

# Backend
backend/.env

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
